<h1>Drivers</h1>

<ul>
  <% @drivers.each do |driver| %>
    <li>
      <%= link_to "#{driver.name}", driver_path(driver.id) %>
      <%= link_to "Edit", edit_driver_path(driver.id) %>
      <%= link_to "Delete", driver_path(driver.id), method: :delete, data: { confirm: "Are you sure you want to delete this driver?"} %>
    </li>
  <% end %>
</ul>